body {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 200;
}

h2 {
    
    font-family: 'Manrope', sans-serif;
    font-size: 36px;
}

h3 {
    
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
}
    






